
<div class="row">
    <div class="col-md-2 col-lg-2">     
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-header font-weight-bold bg-dark text-white">
                    <p class="h3">{{::$ctrl.cityData.name}},{{::$ctrl.cityData.sys.country}}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Weather details : </h5>
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 card-text">
                            Temp Min : {{::$ctrl.cityData.main.temp_min}}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 card-text">
                            Temp Max {{::$ctrl.cityData.main.temp_max}}
                        </div>
                    </div>  
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <a href="#/forecast/{{::$ctrl.cityData.id}}" class="btn btn-dark">Forecast</a>
                        </div>
                    </div>                    
                    
                </div>
            </div>        
    </div>
    <div class="col-md-2 col-lg-2">     
    </div>
</div>

